.boton-clear{
    height: 80px;
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    background-color: yellow;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:cadetblue;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 45px;
    user-select: none;
} 
.boton-clear:hover{
    background-color: gold;
    
}